
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <title>Email Reset Form</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center mb-4">Reset Your Password</h5>
                        <form method="post" action="{% url 'password_reset' %}">
                            {% csrf_token %}
                             {% for field in form %}
	    		            {% comment %} {{ field.label_tag }}  {% endcomment %}
                          <label for="email" class="form-label">Email address</label> 
							{% comment %} <input type="email" class="form-control" id="email" placeholder="Enter your email"> {% endcomment %}
	        	           {% comment %} {{ field }} {% endcomment %}
	        	          {% if field.errors %}
	        		      <small>{{ field.errors|striptags  }}</small> 
	        	          {% endif %}
						  {% endfor %}
						  {% comment %} <div class="mb-3"> {% endcomment %}
                                {% comment %} <label for="email" class="form-label">Email address</label> {% endcomment %}
                                <input type="email" class="form-control" id="email" placeholder="Enter your email">
                            {% comment %} </div> {% endcomment %}
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary btn-lg">Reset</button>
                            </div>
                            {% comment %} <div class="mb-3"> {% endcomment %}
                                {% comment %} <label for="email" class="form-label">Email address</label> {% endcomment %}
                                {% comment %} <input type="email" class="form-control" id="email" placeholder="Enter your email"> {% endcomment %}
                            {% comment %} </div> {% endcomment %}
                            {% comment %} <div class="d-grid gap-2"> {% endcomment %}
                                {% comment %} <button type="submit" value="Send"  class="btn btn-primary btn-lg">Reset</button> {% endcomment %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

