<!DOCTYPE html>
{% load static %}
<html lang="en">


<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MessageLink</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
 {% csrf_token %}
  <!-- Favicons -->
 
  {% comment %} <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> {% endcomment %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/bootstrap-icons/bootstrap-icons.css" %}' rel="stylesheet">
  <link href='{% static "vendor/glightbox/css/glightbox.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/swiper/swiper-bundle.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/aos/aos.css" %}' rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>


  <!-- Template Main CSS File -->
  <link href='{% static "css/main.css" %}' rel="stylesheet">
  <link rel="stylesheet" href='{% static "css/fast and reliables.css" %}'>
  <link rel="stylesheet" href='{% static "css/Login_and_Register.css" %}'>
    
    
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <style>
    .colorbutton{
      background-color: #ff5e14;
    }
  /* start for hero section shape */
  </style>
      <style>
        *{
            margin: 0;
            padding: 0;
        }
        .custom-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 183px;
}
.custom-shape .shape-fill {
    fill: white;
}
    </style>
    <!-- end of the  hero section shape -->
</head>

<body class="index-page">

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">
      <a href="{% url 'index' %}" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 style=" color: #ffffff;">MessageLink</h1>
        <!-- <span>.</span> -->
      </a>

      <!-- Nav Menu -->
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'index' %}" class="active" style=" color: #ffffff;">Home</a></li>
          <li><a href="{% url 'index' %}#features" style=" color: #ffffff;">Features</a></li>
          <li><a href="{% url 'index' %}#pricing" style=" color: #ffffff;">Pricing</a></li>

          <li><a href="{% url 'index' %}#contact" style=" color: #ffffff;">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav><!-- End Nav Menu -->

      <a style="background-color:#ff5e14" class="btn-getstarted"  href="{% url 'choice' %}" style=" color: #ffffff;">My dashboard</a>
       {% comment %} <a style="background-color:#ff5e14" class="btn-getstarted" {% if request.user.is_authenticated %} href="{% url 'logout' %}" {% else %} href="{% url 'login' %}" {% endif %} style=" color: #ffffff;">Get Started</a> {% endcomment %}

    </div>
  </header><!-- End Header -->


<section class="contact-clean">
        <form action="sendSms" method="GET">
             <div class="sec-B">
                
                <h1  class="text-center" class="els-h1-txt">Well done Your Message Is Sent</h1>
            </div>
    </section>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>